@import '../../assets/styles/variables.scss';
 @import '../../assets/styles/mixins.scss';
.channel{
    padding: 15px 0;
    .parent-channel-details{
        .image-cover{
            width: 100%;
            height: 200px;
        }
        .info-channel{
            padding: 15px 0;
            .title-channel{
                color: $primaryColor;
                margin-bottom: 5px;
                font-family: 'poppins-Medium';
                font-size: $largeSize;
            }
            .subscriber-count{
                color: red;
                font-family: 'poppins-Medium';
                text-transform: uppercase;
                font-size: $normalSize;
                span{
                color: $lightGray;
                margin: 0 10px;
                font-family: 'poppins-regular';}
            }
        }
      
    }
    .play-list{
        list-style-type: none;
        @include list;
    }
}