$primaryColor: #444;
$lightGray: #777;
$offWhite: #ddd;
$bgColor:#fff;
$bigSizeFont:22px;
$largeSize: 18px;
$defaultSize: 16px;
$normalSize: 14px;
$smallSize: 12px;
$circleBorderRadius: 50%;
$borderRadius: 5px;
$border:  1px solid #ddd;
$shadow: 0 0 5px rgba(121,121,121,.5);
$transitionDrag: transform 250ms cubic-bezier(0, 0, 0.2, 1);
$paddingPage:20px;
$paddingCard:10px;